
.center-nose{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 0.5% ;
  
}

.algo{
  display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-top: 2% ;
   margin-right: 25%;
   
}